# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.ts
server/node_modules/body-parser/node_modules/debug/component.json
*.js
server/node_modules/debug/LICENSE
*.md
*.json
*.map
server/node_modules/object-inspect/LICENSE
server/node_modules/path-to-regexp/LICENSE
server/node_modules/on-finished/LICENSE
server/node_modules/picomatch/LICENSE
*.yml
server/node_modules/semver/LICENSE
server/node_modules/sparse-bitfield/LICENSE
server/node_modules/to-regex-range/LICENSE
*.yaml
*.yaml
server/node_modules/supports-color/license
*.cjs
server/node_modules/touch/LICENSE
server/node_modules/undefsafe/.jscsrc
server/node_modules/unpipe/LICENSE
server/node_modules/utils-merge/.npmignore
server/node_modules/sparse-bitfield/.npmignore
server/node_modules/toidentifier/LICENSE
server/node_modules/undefsafe/.jshintrc
server/node_modules/utils-merge/LICENSE
server/node_modules/vary/LICENSE
*.ps1
server/node_modules/simple-update-notifier/node_modules/.bin/semver
server/node_modules/simple-update-notifier/node_modules/semver/LICENSE
server/node_modules/smart-buffer/LICENSE
*.cmd
server/node_modules/socks/LICENSE
*.txt
server/node_modules/send/node_modules/debug/.eslintrc
server/node_modules/send/node_modules/debug/.npmignore
server/node_modules/send/node_modules/debug/Makefile
*.bnf
server/node_modules/call-bind/.eslintignore
*.mjs
server/node_modules/braces/LICENSE
server/node_modules/call-bind/.nycrc
server/node_modules/.bin/nopt
server/node_modules/.bin/mime
server/node_modules/.bin/nodetouch
server/node_modules/@types/node/LICENSE
server/node_modules/@types/whatwg-url/LICENSE
server/node_modules/@types/webidl-conversions/LICENSE
server/node_modules/abbrev/LICENSE
server/node_modules/accepts/LICENSE
server/node_modules/binary-extensions/license
server/node_modules/.bin/nodemon
server/node_modules/.bin/semver
server/node_modules/anymatch/LICENSE
server/node_modules/array-flatten/LICENSE
server/node_modules/body-parser/LICENSE
server/node_modules/body-parser/node_modules/debug/.eslintrc
server/node_modules/body-parser/node_modules/debug/.npmignore
server/node_modules/body-parser/node_modules/debug/LICENSE
server/node_modules/body-parser/node_modules/debug/Makefile
server/node_modules/brace-expansion/LICENSE
server/node_modules/bytes/LICENSE
server/node_modules/call-bind/.eslintrc
server/node_modules/call-bind/LICENSE
server/node_modules/chokidar/LICENSE
server/node_modules/concat-map/LICENSE
server/node_modules/concat-map/README.markdown
server/node_modules/content-disposition/LICENSE
server/node_modules/content-type/LICENSE
server/node_modules/cookie-signature/.npmignore
server/node_modules/cookie/LICENSE
server/node_modules/depd/LICENSE
server/node_modules/destroy/LICENSE
server/node_modules/dotenv/LICENSE
server/node_modules/ee-first/LICENSE
server/node_modules/encodeurl/LICENSE
server/node_modules/escape-html/LICENSE
server/node_modules/etag/LICENSE
server/node_modules/express/LICENSE
server/node_modules/express/node_modules/debug/.eslintrc
server/node_modules/express/node_modules/debug/.npmignore
server/node_modules/express/node_modules/debug/LICENSE
server/node_modules/express/node_modules/debug/Makefile
server/node_modules/fill-range/LICENSE
server/node_modules/finalhandler/LICENSE
server/node_modules/finalhandler/node_modules/debug/.eslintrc
server/node_modules/finalhandler/node_modules/debug/.npmignore
server/node_modules/finalhandler/node_modules/debug/LICENSE
server/node_modules/finalhandler/node_modules/debug/Makefile
server/node_modules/forwarded/LICENSE
server/node_modules/fresh/LICENSE
server/node_modules/function-bind/.editorconfig
server/node_modules/function-bind/.eslintrc
server/node_modules/function-bind/.npmignore
server/node_modules/function-bind/LICENSE
server/node_modules/function-bind/test/.eslintrc
server/node_modules/get-intrinsic/.eslintrc
server/node_modules/get-intrinsic/.nycrc
server/node_modules/get-intrinsic/LICENSE
server/node_modules/glob-parent/LICENSE
server/node_modules/has-flag/license
server/node_modules/has-proto/.eslintrc
server/node_modules/has-proto/LICENSE
server/node_modules/has-symbols/.eslintrc
server/node_modules/has-symbols/.nycrc
server/node_modules/has-symbols/LICENSE
server/node_modules/has/LICENSE-MIT
server/node_modules/http-errors/LICENSE
server/node_modules/iconv-lite/LICENSE
server/node_modules/ignore-by-default/LICENSE
server/node_modules/inherits/LICENSE
server/node_modules/is-binary-path/license
server/node_modules/is-extglob/LICENSE
server/node_modules/is-glob/LICENSE
server/node_modules/is-number/LICENSE
server/node_modules/kareem/LICENSE
server/node_modules/media-typer/LICENSE
server/node_modules/memory-pager/LICENSE
server/node_modules/merge-descriptors/LICENSE
server/node_modules/methods/LICENSE
server/node_modules/mime-db/LICENSE
server/node_modules/mime-types/LICENSE
server/node_modules/mime/.npmignore
server/node_modules/mime/LICENSE
server/node_modules/minimatch/LICENSE
server/node_modules/mongodb-connection-string-url/LICENSE
server/node_modules/mpath/LICENSE
server/node_modules/mquery/LICENSE
server/node_modules/mquery/node_modules/debug/LICENSE
server/node_modules/negotiator/LICENSE
server/node_modules/nodemon/bin/windows-kill.exe
server/node_modules/nodemon/LICENSE
server/node_modules/nopt/.npmignore
server/node_modules/nopt/LICENSE
server/node_modules/normalize-path/LICENSE
server/node_modules/object-inspect/.eslintrc
server/node_modules/object-inspect/.nycrc
server/node_modules/object-inspect/readme.markdown
server/node_modules/parseurl/LICENSE
server/node_modules/proxy-addr/LICENSE
server/node_modules/pstree.remy/LICENSE
server/node_modules/pstree.remy/tests/fixtures/out1
server/node_modules/pstree.remy/tests/fixtures/out2
server/node_modules/qs/.editorconfig
server/node_modules/qs/.eslintrc
server/node_modules/qs/.nycrc
server/node_modules/range-parser/LICENSE
server/node_modules/raw-body/LICENSE
server/node_modules/readdirp/LICENSE
server/node_modules/safe-buffer/LICENSE
server/node_modules/safer-buffer/LICENSE
server/node_modules/saslprep/.editorconfig
server/node_modules/saslprep/.gitattributes
server/node_modules/saslprep/code-points.mem
server/node_modules/saslprep/LICENSE
server/node_modules/semver/bin/semver
server/node_modules/send/LICENSE
server/node_modules/send/node_modules/debug/LICENSE
server/node_modules/serve-static/LICENSE
server/node_modules/setprototypeof/LICENSE
server/node_modules/side-channel/.eslintignore
server/node_modules/side-channel/.eslintrc
server/node_modules/side-channel/.nycrc
server/node_modules/side-channel/LICENSE
server/node_modules/simple-update-notifier/LICENSE
server/node_modules/statuses/LICENSE
server/node_modules/type-is/LICENSE
server/node_modules/undefsafe/LICENSE
