# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.ts
server/node_modules/body-parser/node_modules/debug/component.json
*.js
server/node_modules/debug/LICENSE
*.md
*.json
*.map
server/node_modules/object-inspect/LICENSE
server/node_modules/path-to-regexp/LICENSE
server/node_modules/on-finished/LICENSE
server/node_modules/picomatch/LICENSE
*.yml
server/node_modules/semver/LICENSE
server/node_modules/sparse-bitfield/LICENSE
server/node_modules/to-regex-range/LICENSE
*.yaml
*.yaml
server/node_modules/supports-color/license
*.cjs
server/node_modules/touch/LICENSE
server/node_modules/undefsafe/.jscsrc
server/node_modules/unpipe/LICENSE
server/node_modules/utils-merge/.npmignore
server/node_modules/sparse-bitfield/.npmignore
server/node_modules/toidentifier/LICENSE
server/node_modules/undefsafe/.jshintrc
server/node_modules/utils-merge/LICENSE
server/node_modules/vary/LICENSE
*.ps1
server/node_modules/simple-update-notifier/node_modules/.bin/semver
server/node_modules/simple-update-notifier/node_modules/semver/LICENSE
server/node_modules/smart-buffer/LICENSE
*.cmd
server/node_modules/socks/LICENSE
*.txt
server/node_modules/send/node_modules/debug/.eslintrc
server/node_modules/send/node_modules/debug/.npmignore
server/node_modules/send/node_modules/debug/Makefile
*.bnf
server/node_modules/call-bind/.eslintignore
*.mjs
server/node_modules/braces/LICENSE
server/node_modules/call-bind/.nycrc
server/node_modules/.bin/nopt
server/node_modules/.bin/mime
server/node_modules/.bin/nodetouch
server/node_modules/@types/node/LICENSE
server/node_modules/@types/whatwg-url/LICENSE
