.nav {
  background: #f2f2f2;
  padding: 20px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/*
.navCon {


background-color: #e2af41c0;
  padding: 10px;

}

.navBrand {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
 

}

.navLink {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}


.NavLinks{
  display: flex;
  gap: 2rem;

  .NavLink{
    color: #000;
    &:hover{
      color: #f39e2e;
    }
  }
  @media screen and (max-width:990px){
    flex-direction: column;
  }
}
.LogoImg {
  width: 100%;
  
  padding-left: 600px;
}

*/